@import "tailwindcss";
@theme {
  --color-neutral: #F4FFFB;
  --color-primary: #007B7F;
  --color-secondary: #00B2A9;
  --color-tertiary: #E2F7F1;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}